.middle_about#about_middle
    .middle_about-left
        .wrapp_middle_left-title
            .middle_left-title Обо мне
            .midle_title-line
            .middle_hide-text
                include ../../../images/svg/about_header.svg

        .middle_left-photo
            img.middle-photo(src="assets/img/user/user-avatar.jpg")
        .middle_left-paragraf
            h2.title_middle_paragraf Кто я
            .midle_paragraf-line
            p.middle_paragraf.
                Я веб разработчик из Черновцов.
                Мне 22 года. Я занимаюсь разработкой современных сайтов и приложений.
                Мне нравится делать интересные и современные проекты.Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                Чуть позже я освежу в нём свой контент.
    .midle_aabout-right
        .wrapp_middle_right-title
            h2.right_middle-title Чем я могу быть вам полезен
            .midle_paragraf-line-r
            p.middle_paragraf.middle_paragraf-right.
                Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .prof_block
            .prof_block-skils
                .prof_block-title_list Frontend
                ul.prof_list#front
                    li.prof_item.html
                        .item_circle
                            .skils HTML5
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector html_level")
                    li.prof_item.css
                        .item_circle
                            .skils CSS3
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector css_level")
                    li.prof_item.js
                        .item_circle
                            .skils JavaScript& JQuery
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector js_level")
            .prof_block-skils
                .prof_block-title_list Backend
                ul.prof_list#end
                    li.prof_item.php
                        .item_circle
                            .skils PHP
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector php_level")
                    li.prof_item.mysq
                        .item_circle
                            .skils mySQL
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector mysql_level")
                    li.prof_item.node
                        .item_circle
                            .skils Node js & npm
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector node_level")
                    li.prof_item.mongo
                        .item_circle
                            .skils Mongo.db
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector mongo_level")
            .prof_block-skils
                .prof_block-title_list Workflow
                ul.prof_list#flow
                    li.prof_item.git
                        .item_circle
                            .skils Git
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector git_level")
                    li.prof_item.gulp.animation-delay02s
                        .item_circle
                            .skils Gulp
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector gulp_level")
                    li.prof_item.bower.animation-delay03s
                        .item_circle
                            .skils Bower
                            svg(width="120" height="120" class="g-circles")
                                circle(r="50" cx="60" cy="60" stroke="#ccc"
                                fill="none")
                                circle(r="50" cx="60" cy="60" stroke="#4e8839"
                                transform="rotate(-90 60 60)" class="sector bower_level")